.website .homeform {
    display: inline;
}

.website .homeform button {
    font: inherit;
    background-color: none;
    border: none;
    cursor: pointer;
}

.website .blog, .website .post {
    font-size: 1.5rem;
}

.website .blog h2 {
    color: #666;
    font-size: 2rem;
}

.website .blog ul {
    border-style: solid;
    border-width: 0 0 0 1px;
}

.website .blog a {
    font-weight: normal;
}

/* CLASSES FOR POSTS */

.center {
    text-align: center;
}



/* ******** MEDIA QUERIES ********* */

@media only screen and (max-width: 700px) {
    .website .blog, .website .post {
        font-size: 1rem;
    }

    .website .blog h2 {
        color: #666;
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 500px) {
    .website .blog h2 {
        color: #666;
        font-size: 1.2rem;
    }
}