html, body {
    --background-hf: #ffe6ca;
    --hf-text: #966c3b;
    --body-text: #4e3620;
    
    margin: 0;
    background-color: var(--background-hf);
    font-family: 'Noto Serif', serif;
}

nav, footer, .website h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h2, h3, h4, h5, h6 {
    color: #4e3620;
    font-weight: bold;
}

.fontawesome {
    font-size: 0.75em;
}

nav {
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: var(--background-hf);
    color: var(--hf-text);
    text-transform: lowercase;

    font-size: 1.5rem;
    box-shadow: 0 2px 5px;
}

nav h1 {
    margin: 0;
    text-align: center;
    justify-self: flex-start;
    /* padding: 20px; */
}

nav ul {
    margin: 0 0 0 auto;
    list-style-type: none;
    display: flex;

    align-content: stretch;
    justify-content: flex-end;
}

nav a {
    padding: 20px 30px;
    display: flex;
    align-items: center;
    text-decoration: none;

    color: var(--hf-text);
}

nav a:hover {
    color: #4e3620;
    /* background-color: #ebd5bd; */
}

/* *********** RIGHT AFTER NAV ************* */

.spacing {
    height: 70px;
    background-color: white;
}

 /* *************** GENERAL SPACING FOR WEBSITE *********** */

.website {
    padding: 40px;
    background-color: white;
    color: #333;
    font-size: 1.25rem;
}

.website h1 {
    text-align: center;
    font-size: 4rem;
}

.website .tiny {
    display: flex;
    justify-content: center;
}

.website .tiny > div {
    width: 800px;
}

.website a, .website .homeform button {
    text-decoration: none;
    color: #151515;
    font-weight: bold;
}

.website a:hover, .website .homeform button:hover {
    color: #966c3b;
}

.website ul {
    list-style-type: none;
}

.website .loginlinks {
    text-align: center;
}

.website .card {
    border: solid 1px;
    border-radius: 5px;
    padding: 15px;
    margin: 20px 0;
}

.website .blurb {
    text-align: center;
    width: 65%;
    margin: 0 auto;
}

/* ************** FOOTER ***************** */

footer {
    padding: 40px;
    text-align: center;
    background-color: var(--background-hf);
    color: var(--hf-text);
    box-shadow: 0 -2px;
}