html, body {
    --background-hf: #ffe6ca;
    --hf-text: #966c3b;
    --body-text: #4e3620;
    
    margin: 0;
    background-color: var(--background-hf);
    font-family: 'Noto Serif', serif;
}

nav, footer, .website h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    /* also used in route in 404 */
}

h2, h3, h4, h5, h6 {
    color: #4e3620;
    font-weight: bold;
}

.fontawesome {
    font-size: 0.75em;
}

nav {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: var(--background-hf);
    color: var(--hf-text);
    text-transform: lowercase;

    font-size: 1.5rem;
    box-shadow: 0 2px 5px;
}

nav h1 {
    margin: 0;
    text-align: center;
    justify-self: flex-start;
}

nav ul {
    margin: 0 0 0 auto;
    list-style-type: none;
    display: flex;

    align-content: stretch;
    justify-content: flex-end;
}

nav a {
    padding: 20px 30px;
    display: flex;
    align-items: center;
    text-decoration: none;

    color: var(--hf-text);
}

nav a:hover {
    color: #4e3620;
    /* background-color: #ebd5bd; */
}

.ham {
    display: none;

    justify-content: flex-end;
    align-items: center;
    cursor: pointer;

    padding: 15px 15px 15px 0;
}

.ham p {
    margin: 0;
}

/* *********** RIGHT AFTER NAV ************* */

.spacing {
    height: 70px;
    background-color: white;
}

 /* *************** GENERAL SPACING FOR WEBSITE *********** */

.website {
    padding: 40px;
    background-color: white;
    color: #333;
    font-size: 1.25rem;
}

.small {
    font-size: 1rem;
}
.small p {
    margin: 1px 0;
}

.website h1 {
    text-align: center;
    font-size: 4rem;
}

.website .tiny > div {
    max-width: 800px;
    margin: auto;
}

/* ************* BUTTON ************ */

.website a, .website .homeform button {
    text-decoration: none;
    color: #151515;
    font-weight: bold;
}

.website a:hover, .website .homeform button:hover {
    color: #966c3b;
}

/* ************ UNORDERED LISTS ********* */

.website ul {
    list-style-type: none;
}

/* ********* HOME PAGE **************** */

.website .loginlinks {
    text-align: center;
}

.website .card {
    border: solid 1px;
    border-radius: 5px;
    padding: 15px;
    margin: 20px 0;
}

.website .snippet {
    margin: 20px 0;
}

.website .snippet h1, .website .snippet h2,.website .snippet h3, .website .snippet h4, .website .snippet h5, .website .snippet h6 {
    display: inline;
    font-family: 'Noto Serif', sans-serif;
    font-weight: bold;
    font-size: inherit;
}

.website .blurb {
    text-align: center;
    width: 65%;
    margin: 0 auto;
}

.nowrap {
    white-space: nowrap;
}

/* ************** HEADER IMAGE ************* */

.headerimg {
    width: 100%;
    height: 60vh;
    min-width: 100%;
}

.headerimg.home {
    background: url(/img/coffeebg3.png) no-repeat top center fixed;
    background-size: cover;
}

.headerimg.posts {
    background: url(/img/coffeebg1.png) no-repeat center center fixed;
    background-size: cover;
}

.headerimg.post {
    height: 70px;
    background-color: white;
}

.headerimg.fof {
    background: url(/img/404.jpeg) no-repeat bottom right fixed;
    background-size: cover;
}

/* *********** GET LATEX TO SCROLL ************** */

.MathJax {
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100%;
}

/* **************** 404 ********** */

.fourohfour {
    text-align: center;
}

.route {
    font-family: 'Montserrat', sans-serif;
    /* font-size: 1.5rem; */
}

/* ************** FOOTER ***************** */

footer {
    padding: 40px;
    text-align: center;
    background-color: var(--background-hf);
    color: var(--hf-text);
    box-shadow: 0 -2px;
}

/* ************** MEDIA QUERIES *************** */

@media only screen and (max-width: 700px) {
    .ham {
        display: flex;
        margin-left: auto;
    }

    nav {
        font-size: 1rem;
    }

    nav ul a {
        color: white;
        display: block;
        padding: 15px;
    }

    nav a {
        padding: 0;
    }

    nav h1 {
        padding: 15px 0 15px 15px;
    }

    nav ul a {
        padding: 15px;
    }

    nav ul {
        display: block;
        width: 100%;
        margin: 0;
        
        text-align: right;
        /* letter-spacing: 10px; */
        padding: 0;

        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: #966c3b;
        box-shadow: 0 2px 5px #151515;
    }

    .website {
        padding: 10px;
        font-size: 1rem;
    }

    .small {
        font-size: 0.7rem;
    }

    .website h1, .website h2, .website h3, .website h4, .website h5, .website h6 {
        margin: 15px 0;
        font-size: 1rem;
    }

    .website h1 {
        font-size: 3rem;
    }

    .website h3 {
        font-size: 1.75rem;
    }

    .website .blog ul {
        padding-left: 10px;
    }

    .website .card {
        padding: 0 15px;
        /* margin: 20px 0; */
    }

    footer {
        padding: 15px;
        font-size: 0.9rem;
    }
/* 
    .headerimg.home {
        background: none;
        height: 70px;
        background-color: white;
    } */
}

@media only screen and (max-width: 500px) {
    .website h1 {
        font-size: 2rem;
    }

    .website h3 {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 300px) {
    nav {
        font-size: 0.9rem;
    }

    /* .website {
        font-size: 0.8rem;
    } */
}