<%- include("../../partials/cjlh/header.ejs") %> 

<div>

<h2>We're getting things set up!</h2>

<p>This is my edited stuff.</p>

<p>This is going to be in a branch.</p>


</div>

<%- include("../../partials/cjlh/footer.ejs") %> 
