<%- include("../../partials/cjlh/header.ejs") %> 

<head>
  <style type="text/css">
    p {
      color: #a64d79;
      line-height: 0.7;
    }
    
    ul {
      color: #741b47;
    }
    
    .time {
    	color: #f1c232;
    }
    
    .header {
    	color: #741b47;
      font-weight: 550;
    }
  </style>
</head>

<body>
  <div>

    <h1 style="color:#f6bd0e;">Phi Day Math Meet</h1>

    <h3 style="color:#fbce45;">Central Jersey Learning Hub Event Schedule for Saturday, June 19, 2021</h3>

    <p>
      Questions/Comments? Contact us at <a href="mailto:cjlearninghub@gmail.com">cjlearninghub@gmail.com.</a>
    </p>

    <p>
      Registration link: <a href=https://tinyurl.com/phidaymeet>https://tinyurl.com/phidaymeet.</a>
    </p>

    <p>
      More information about contest structure: <a href=https://coffee-and-sleep.herokuapp.com/cjlh/meet>https://coffee-and-sleep.herokuapp.com/cjlh/meet.</a>
    </p>

    <p>All times listed are in EDT (GMT-4).</p>

    <hr>
  </div>

  <div>
    <h3>
      <span class="time">2:00-2:25pm: </span>
      <span class="header">Introduction/Activity</span>
    </h3>
    <ul>
      <li>Opening notes.</li>
      <li>Warm-up Activity.</li>
      <li>Explanation of Competition Rules.</li>
    </ul>
  </div>

  <div>
    <h3>
      <span class="time">2:25-2:40pm: </span>
      <span class="header">Formation of Impromptu Teams and Assignment to Breakout Rooms</span>
    </h3>
    <ul>
        <li>Formation of Impromptu Teams (randomly selected).</li>
        <li>Assign teams to Breakout Rooms.</li>
    </ul>
  </div>

  <div>
    <h3>
      <span class="time">2:40-3:55pm: </span>
      <span class="header">Problem Solving!</span>
    </h3>
      <ul>
        <li>The Meet Begins!</li>
        <li>75 minutes to tackle the problem set (given in sets of 4 problems at a time).</li>
      </ul>
  </div>

  <div>
    <h3>
      <span class="time">3:55-4:45pm: </span>
      <span class="header">Go over requested problems</span>
    </h3>
    <ul>
      <li>Reveal scores/answers.</li>
      <li>Explain solutions of requested problems.</li>
    </ul>
  </div>

  <div>
    <h3>
      <span class="time">4:45-5:00pm: </span>
      <span class="header">Closing/Awards</span>
    </h3>
    <ul>
      <li>Awards Ceremony</li>
      <ul>
        <li>Each participant will receive a certificate.</li>
        <li>First place and runner-up will receive recognition and certificates.</li>
      </ul>
    </ul>
  </div>
</body>

<%- include("../../partials/cjlh/footer.ejs") %> 
