<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Noto+Serif:wght@400;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

    <title>Coffee and Sleep</title>

    <link rel="stylesheet" href="/blog/css/style.css">
    <link rel="stylesheet" href="/blog/css/blog.css">
    <link rel="stylesheet" href="/blog/css/compose.css">


    <script src="https://kit.fontawesome.com/9b82d76088.js" crossorigin="anonymous"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>

<body>
    <nav>
        <a href="/">
            <h1>Coffee and Sleep</h1>
        </a>
        <ul>
            <a href="/"><li>Home</li></a>
            <a href="/blog"><li>Blog</li></a>
        </ul>
    </nav>

    <div class="spacing"></div>
    <div class="website">
