<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <a href="/cjlh"><h1>Central Jersey Learning Hub</h1></a>
        <ul>
            <a href="/cjlh"><li>Home</li></a>
            <a href="/cjlh/meet"><li>Meet Structure</li></a>
            <a href="https://docs.google.com/document/d/e/2PACX-1vRmxP5bAM6HmOriVSWHUi69NR3w0gUkFnhWj1yaItDXLvoES9G9xuBu79ZjP7uDQFulziN231PVoX9i/pub"><li>April Fool's</li></a>
            <a href="/cjlh/past-meets"><li>Past Meets</li></a>
            <a href="/cjlh/about"><li>About</li></a>
            <!-- <div>
                <div>Past Meets</div>
                <ul>
                    <a href=""><li>April Fool's</li></a>
                    <a href=""><li></li></a>
                    <a href=""><li></li></a>
                </ul>
            </div> -->
            
        </ul>
    </nav>
