<%- include("../partials/cjlh/header.ejs") %> 

<section>
    <h2>Staff</h2>

    <hr>

    <div>
        <% for(element of about) { %> 
            <%- element %>
        <% } %> 
    </div>
</section>

<%- include("../partials/cjlh/footer.ejs") %> 