<%- include("../partials/cjlh/header.ejs") %> 

<h2>CJLH Seasonal Math Meets</h2>

<h3>Section 1: Purpose.</h3>

We aim to cultivate a curiosity in math and a love for collaboration! If you like solving problems and working with your friends, you’re in the right place.

Section 2: Tiers.
(Tiers will be a feature starting from the April Fool’s Meet hosted in 2021.)


Non-Competitive Division
Individuals and Teams may both compete.
Competitive Division
Individuals and Teams may both compete.
Individual competitors will compete for the Individual Prize.
Teams will compete for the Team Prize.
Section 3: Contest Rules.
The contest is comprised of 40 questions to be completed in 75 minutes. The questions are divided into ten Rounds of 4 questions each. Contestants will only work on one Round at a time. Once a Round is submitted, contests may not change their answers for that Round, but they will gain access to the next Round (unless they are at Round 10, in which case they will have finished the contest).


The contest will be hosted on Zoom, and the problems will be provided on PDFs. Submissions will be through Google Forms.


Contestants may use paper and writing utensils, such as pencils, pens, and erasers. No calculators, compasses, protractors, rulers, or other external resources are allowed.

Contestant Proctoring:
Individuals and Teams in the Non-Competitive Division will be let in to separate breakout rooms shortly before the contest starts. Cameras are optional. Teams may benefit from video collaboration.
All competing persons will need to have their camera on for the duration of the competition. The videos must show their hands at all times. Failure to comply with camera prompts from any proctor may result in an ineligibility for prizes.
Competing individuals will be in the main room (cameras on) for the duration of the competition.
Competing teams will be let into separate breakout rooms shortly before the contest starts. Their cameras will have to be on, and proctors will monitor them (non-intrusively) for the duration of the competition.

There will be a leaderboard set up to track team progress (competitive and non-competitive) throughout the duration of the competition--hype!

Section 4: Prizes.
Prizes are subject to change for each competition. First Place individual and team winners of the Competitive Division will receive awards.

Section 5: Agenda.
[25 minutes]: Introduction/Activity
Opening notes.
Warm-up Math Activity.
Explanation of Competition Rules.
[15 minutes]: Assignment to Breakout Rooms
Assign teams to Breakout Rooms.
Participants can use this time to prepare themselves for the competition.
[75 minutes]: Problem-Solving!
The Meet Begins!
75 minutes to tackle the problem set (given in sets of 4 problems at a time).
[50 minutes]: Go over requested problems
Reveal scores/answers.
Explain solutions of requested problems.
[15 minutes]: Closing/Awards
Awards Ceremony.
Each participant will receive a certificate.
First Place individual and team winners of the Competitive Division will receive winner certificates and awards.
To see the agendas for previous competitions, please click on the links below:
Halloween Math Meet held on October 31, 2020: https://tinyurl.com/halloweenmeet 

Valentine’s Day Math Meet held on February 14, 2021: https://tinyurl.com/vdmeet


Note: The two above competitions had one (non-competitive) tier rather than the two tiers we have outlined above in Section 2.


For more information about CJLH, visit https://tinyurl.com/cjlhgeneral.



<%- include("../partials/cjlh/footer.ejs") %> 